@{
	Layout = "Master.cshtml";
}
@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedModels;


<html>

	<body class="homepage">


			
	<!-- Main -->
		<div id="main">
			<div class="container">
				<header>
					<h2>Navigation</h2>
				</header>
				<div class="row">
					<div class="3u">
						<section>
							<a href="#" class="image full"><img src="images/study.jpg" height="100" alt="" /></a>
							<a href="#" class="button">Course Information</a>
						</section>
					</div>
					<div class="3u">
						<section>
							<a href="#" class="image full"><img src="images/events.jpg" height="100" alt="" /></a>
							<a href="#" class="button">Events</a>
						</section>
					</div>
					<div class="3u">
						<section>
							<a href="#" class="image full"><img src="images/time.jpg" height="100" alt=""/></a>
							<a href="#" class="button">Timetable</a>
						</section>
					</div>
				</div>
				<div class="row">
				</div>
			
			</div>
		</div>
	<!-- Main -->

	</body>
</html>